// site-wide footer styles

.site-footer {
  @include pie-clearfix;
  background-color: $footer-color;
  color: $text-color-subtle;
  padding-top: 1em;

  a {
    @include link-reverse;
  }

  .social-media {
    li {
      display: inline-block;

      a {
        display: inline-block;
        @include button-reverse;
      }
    }
  }

  .legal {
    .copyright {
      color: $text-color;
    }
  }
}
